:kramdown
	# Welcome to Medial Operations

	This is what hopefully someday will become the future homepage of 
	
	[Medial Operations](http://medialoperations.com)

- @users.each do |user|
	%p
		User: #{ link_to user.name, user }