- provide(:title, current_user.name) unless !signed_in?
:kramdown
	# Welcome to Medial Operations

	This is what hopefully someday will become the future homepage of 
	
	[Medial Operations](http://medialoperations.com)