// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  				: 7;
$column-width   				: 4em;
$gutter-width   				: 1em;
$grid-padding   				: $gutter-width;
$break 									: 12;
$show-grid-backgrounds  : true;
$base-line-height     	: 24px;
$base-font-size 				: 16px;

// $themedarkyellow 	: #E09A25;
// $themelightyellow	: #F0D770;
// $themeoffwhite		: #F2EDBC;
// $themegray				: #262B30;
// $themered 				: #C51C30;

// Accents
$themebase 				: #F2F2F2;
$themehighlight1 	: #D9910B;
$themehighlight2 	: #F2E205;
$themehighlight3 	: #BF2121;

// Shades of Gray
$themebackground 	: #322D2A;
$themebackground2 : #332E2B;
$themebackground3 : #3F3835;
$themebackground4 : #7E726A;
$themebackground5 : #BEABA0;




// ---------------------------------------------------------------------------
// Imports

@import "susy";	
@import "compass" ;
@import "compass/reset";
@import "compass/utilities";