// ---------------------------------------------------------------------------
// Imports
@import "base";

@mixin susy-grid-background {
  @include grid-background($total-columns, $column-width, $gutter-width, $base-line-height, $grid-padding, $force-fluid: true);
}
@include establish-baseline;

.grid {
  @include susy-grid-background;
}

/* -------------------------------------------------------------------------*/
/* Layout */

html {
  background-color: $themegray;  
}

.page {
  @include container($total-columns, $break);
  // @extend .grid; 
  @include clearfix;
  color: $themedarkblue;
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-style: normal;
  font-weight: 200;
  text-align: justify;
  h1, h2, h3, h4, h5, h6 { 
    text-align: left; 
    font-family: "museo-slab-1","museo-slab-2",serif;
    color: $themered;
  }
}

.banner {
  @include border-radius(0 0 20px 20px);
  background-color: $themeyellow;
  margin: 0 0 0 0;
  padding: 0 20px 0 20px;
  float: right;
  height: 4.5em;
  font-weight: 300;
  h1 {
    color: $themedarkblue;
    @include adjust-font-size-to(24px);
    @include single-text-shadow;
    letter-spacing: -0.05em;
    span#medial {
      vertical-align: 40%;
    }
    span#slash {
      color: $themered;
      @include adjust-font-size-to(30px);
      margin: 0 -0.25em 0 -0.2em;
    }
    span#operations {
      vertical-align: -5%;
    }
  }
}

.banner:hover{
  background-color: $themedarkblue;
  height: 8em;
  h1 {
    color: $themelightblue;  
    span#slash {
      color: $themeyellow;
      @include adjust-font-size-to(30px);
      margin: 0 -0.25em 0 -0.2em;
    }
  }
@include single-transition(); 
}




.pagenav {
  // @include debug-vertical-alignment;
  font-family: "museo-slab-1","museo-slab-2",serif;
  @include adjust-font-size-to(18px);
  nav { 
    text-align: center;
    list-style: none;
    li {
      @include inline-block;
      float: left;
      width: 4em;
      height: 1.5em;
      margin: 0 5px;
      text-align: center;
      background-color: $themered;
      color: $themeyellow;
      @include border-radius(0 0 5px 5px);
    }
    li:hover {
      background-color: $themedarkblue;
      color: $themelightblue;
      height: 2em;
      @include single-transition();
    }
  }
}


.main {
  blockquote {
    font-family: "museo-slab-1","museo-slab-2",serif;
    margin: 0 40px;
    @include leader();
    @include trailer();
    @include adjust-font-size-to(14px);
    font-style: normal;
    blockquote {
      margin: 0 -40px;; 
      text-align: right; 
    }
  }

  p { 
    @include hyphenation;
    // @include debug-vertical-alignment;
  }

  h1 {
    font-family: "museo-sans-1","museo-sans-2",sans-serif;
    font-weight: 900;
    @include adjust-font-size-to(32px);
    color: $themedarkblue;  
  }

  h2 {
    @include leader();
    @include adjust-font-size-to(18px);
  }

  sup {
    @include adjust-font-size-to(10px);
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
    color: $themered;
    :hover{
      background-color: $themered;
      color: themeyellow;
    }
  }

  .summary {
    @include adjust-font-size-to(14px);
    @include leader(3);
    @include trailer(1);
    display: none;
  }
}

@include at-breakpoint($break) {

  
  .pagenav { 
    @include span-columns(2,$break);
    nav { 
      li {
        width: 2.5em;
        height: 2em;  
        @include border-radius(0 20px 20px 0);
        text-align: left;
        margin: 0.3em 0;
        padding: 0.5em 1em; 
      } 
      :hover{
        width: 4em;
      }
    }
  }

  .main { 
    $main-columns: 10;
    @include span-columns($main-columns omega, $break);
    .content { 
      @include span-columns(7, $main-columns);  
    } 
    .summary { 
      @include span-columns(3 omega, $main-columns);
      display: block; }
  }
}

.contentinfo {
  clear: both;
  background-color: $themelightblue;
  margin:  0 - $grid-padding;
  padding: 0.625em $grid-padding;
  @include adjust-font-size-to(14px);
  @include border-radius(20px); 
  @include at-breakpoint($break) {
    clear: both;
    margin: 0;
    @include pad(2,3,$break);
  }
}