// ---------------------------------------------------------------------------
// Imports
@import "base";

@mixin susy-grid-background {
  @include grid-background($total-columns, $column-width, $gutter-width, $base-line-height, $grid-padding, $force-fluid: true);
}
@include establish-baseline;

.grid {
  @include susy-grid-background;
}



/* -------------------------------------------------------------------------*/
/* Layout */


html {
  background-color: $themebackground;  
}

.page {
  @include container($total-columns, $break);
  // @extend .grid; 
  @include clearfix;
  color: $themebackground5;
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-style: normal;
  font-weight: 200;
  text-align: justify;
  h1, h2, h3, h4, h5, h6 { 
    text-align: left; 
    font-family: "museo-slab-1","museo-slab-2",serif;
    color: $themehighlight2;
  }
}

.banner {
  @include border-radius(0 0 0.5em 0.5em);
  @include single-box-shadow(inset, black, 0em, -0.1em, 0.2em);
  background-color: $themebackground3;
  margin: 0 0 0 0;
  padding: 0 1em 0 1em;
  float: right;
  height: 4em;
  font-weight: 500;
  h1 {
    color: $themebackground4;
    @include adjust-font-size-to(20px);
    letter-spacing: -0.05em;
    a {
      @include unstyled-link;
    }
    span#medial {
      vertical-align: 40%;
    }
    span#slash {
      color: $themehighlight3;
      @include adjust-font-size-to(25px);
      margin: 0 -0.25em 0 -0.2em;
    }
    span#operations {
      vertical-align: -5%;
    }
  }
  &:hover{
    height: 4em;
    background-color: $themehighlight2;
    @include single-transition();
    h1{
      color: $themebackground2;
    }
  }
}

.pagenav {
  // @include debug-vertical-alignment;
  font-family: "museo-slab-1","museo-slab-2",serif;
  @include adjust-font-size-to(14px);
  nav { 
    text-align: center;
    list-style: none;
    margin: 0 0 0 0;
    li {
      @include inline-block;
      float: left;
      width: 6em;
      height: 2em;
      margin: 0 0.5em 0 0;
      text-align: center;
      font-weight: 500;
      @include single-box-shadow(inset, black, 0em, -0.1em, 0.2em);
      background-color: $themebackground3;
      color: $themebackground4;
      @include border-radius(0 0 0.4em 0.4em);
      a {
        @include unstyled-link;
      }
      &:hover {
        height: 2em;
        background-color: $themehighlight3;
        color: $themebase;
      }
    }
  }
  &:hover {
    @include single-transition();
  }
}

.main {
  clear: both;
  @include leader(4);
  blockquote {
    color: $themebase;
    font-family: "museo-slab-1","museo-slab-2",serif;
    margin: 0 40px;
    @include leader();
    @include trailer();
    @include adjust-font-size-to(14px);
    font-weight: 500;
    blockquote {
      margin: 0 -40px;; 
      text-align: right; 
    }
  }

  h2 + blockquote {
    @include leader(0);
  }

  p { 
    @include hyphenation;
    // @include debug-vertical-alignment;
  }

  h1 {
    font-family: "museo-sans-1","museo-sans-2",sans-serif;
    font-weight: 700;
    @include adjust-font-size-to(32px);
    color: $themebase;
    @include leader(-2);
  }

  h1 + h2 {
    @include leader(0);
  }

  h2 {
    @include leader(2);
    @include trailer();
    @include adjust-font-size-to(18px);
  }

  // img {
  //   @include border-radius(0 0 0.3em 0.3em);
  //   height: 10em;
  //   padding: 0 $grid-padding;
  //   margin: 0 0 - $grid-padding;
  //   @include trailer(0);
  // }

  sup {
    @include adjust-font-size-to(12px);
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
    color: $themehighlight2;
    &:hover{
      background-color: $themehighlight2;
    }
  }

  a {
    @include unstyled-link;
    color: $themehighlight2;
    &:hover {
      background-color: $themehighlight3;
      color: $themehighlight2;
    }
  }
  
  .image{
    @include leader(2);
    background:url('James_Brown.jpg');
    height: 40em;
    @include border-radius(0.5em);
  }

  .summary {
    @include adjust-font-size-to(14px);
    @include leader(3);
    @include trailer(1);
    display: none;
  }
}

@include at-breakpoint($break) {

  
  .pagenav { 
    @include span-columns(2,$break);
    @include adjust-font-size-to(16px);
    nav { 
      li {
        width: 5em;
        height: 2em;  
        @include border-radius(0.3em);
        text-align: center;
        margin: 0.3em 0.5em 0.3em 0;
        padding: 0.5em 0.5em;  
        &:hover{
          width: 5em;
          height: 2em;
        }
      }
    }
  }

  .main {
    clear: none;
    $main-columns: 10;
    @include span-columns($main-columns omega, $break);
    .content { 
      @include span-columns(7, $main-columns);  
    }
    h1 {
      @include leader(0);
      font-family: "museo-sans-1","museo-sans-2",sans-serif;
      font-weight: 900;
      @include adjust-font-size-to(32px);
    }
    .summary { 
      @include span-columns(3 omega, $main-columns);
      display: block; }
  }
}

.contentinfo {
  clear: both;
  background-color: $themebackground3;
  @include single-box-shadow(inset, black, 0em, 0.1em, 0.2em);
  color: $themebase;
  margin:  0 - $grid-padding; 
  @include leader(1);
  @include trailer(1);
  padding: 2em $grid-padding;
  @include adjust-font-size-to(14px);
  @include border-radius(0.3em);
  &:hover{
  }
  @include at-breakpoint($break) {
    clear: both;
    @include pad(2,3,$break);
  }
}